body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(237, 208, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

.container {
    width: 450px; 
    height: 500px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

h1, h2 {
    margin-bottom: 10px;
}

.mood-selector {
    margin-bottom: 20px;
}

.mood-button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.mood-button:hover {
    background-color: #da82a3;
}

.mood-history {
    margin-top: 20px;
    width: 100%;
}

#mood-list {
    list-style: none;
    padding: 0;
}

#mood-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0 auto;
}
